<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
</head>
<body>
<table width="70%" align="center">
    <thead>
    <tr>
        <th>Id</th>
        <th>ManufaturerName</th>
        <th>ProductName</th>
        <th>Unit</th>
        <th>Status</th>
        <th>quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${selProduct}">
        <td th:text="${item.product.product_id}"></td>
        <td th:text="${item.product.manufacturer}"></td>
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.unit}"></td>
        <td th:text="${item.product.status}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>